

body {background-color:#ffffff;
font-family: 'Roboto', sans-serif;
  margin: 90px 125px 40px 125px;

}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background:#77bb4a;
  max-width: 100%;
    margin: 25px 0 25px 0;
  padding: 10px;


}


h2 {
font-family: 'Roboto', sans-serif;
color: #77bb4a;
font-weight: bold;
  margin: 25px 0 25px 0;
font-size: 26px;
}

h2:before{
color: #dcdcdc;
padding-right: 0.3em;
margin-left: -40px;
content: "##";
}

h3{
font-family: 'Roboto', sans-serif;
color: #77bb4a;
font-weight: bold;
  margin: 25px 0 25px 0;
font-size: 20px;

}

h3:before{
color: #dcdcdc;
padding-right: 0.3em;
margin-left: 0;
content: "###";
margin-left: -40px;

}

p{
  font-size: 18px;
  line-height: 28px;
  color: #1f2528;
}

a {color: #77bb4a;
  text-decoration: underline;
}

a:hover {
  color: #5c8c33;
  
}

pre {
border: 1px solid #dcdcdc;
}


tr.header {
  color: white;
  background:rgba(119,187,74, 0.8);
}

tr.odd {
   background:rgba(119,187,74, 0.2);
}

tr.even {
  background:rgba(119,187,74, 0.4);
}

code span.kw {
  color: #0f3740;
}

code span.dv {
  color: #406732;
}

pre{
  background: rgba(15,55,64, 0.1);
}







